{% extends 'base.html' %}

{% block main %}
<h1>Accounts</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for account in account_objects %}
        <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.number }}</td>
            <td>{{ account.num_of_receipts }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main %}
