{% extends 'base.html' %}

{% block main %}
<h1>Expense Categories</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for category in category_objects %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.num_expenses }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main %}
